body {
    margin: 0;
    padding: 0;
     background-color: rgb(192, 195, 199);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: rgb(136, 30, 93);
    font-weight: bold;
}

hr {
  border: none;
  border-top: 2px solid #acacac;
  margin: 1rem 0;
  width: 100%;
}
